@model RoundTheCorner.BL.Models.UserModel

@{
    ViewBag.Title = "Logout";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="card card-body">
    <h4>Are you sure you want to logout @Model.FirstName</h4>
    <form method="post">
        <input type="submit" class="btn btn-primary" value="Logout" />
        <a href="/" class="btn btn-secondary">Go Back</a>
    </form>
</div>
