
@{
    ViewData["Title"] = "AboutUs";
}

<h1>About Us</h1>

<div class=" card card-body">
    <h4>Round The Corner's Purpose</h4>
    <p>
        Round the Corner is an easy to use software program
        designed to keep mobile culinary artists
        and the patrons that appreciate their artistry connected.
        The app provides the Food Truck vendors with a means to
        market and promote their product outside of their local
        areas, network other venders, and local businesses. The app
        allows the vendors to post their current and future location
        and daily menus, receive takeout orders, and receive
        online payments through PayPal or other third-party purchasing
        software (OLTP database). We want to make it convenient for everyone!
    </p>

    <hr />

    <h4>Why Us?</h4>
    If you’re
    a lover of street food, it’s a great compass to guide you to
    a little taste of home when you’re on the go. You can view
    menus, see ratings, send request for services, receive
    notifications and make payments and receive refunds through the app.
    Check out what's around with Round The Corner!
</div>
