@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <img src="~/pictures/roundcornerplaceholder.jpg" width="100" />
    <h3 class="display-4">Welcome to Round The Corner!</h3>

</div>


<div class="card   text-center">
    <div class="card-header">
        <h3>Login</h3>
    </div>
    <div class="card-body"></div>
    <form>
        <label>Email</label>
        <input type ="email" class="form-control" style="width:70%; margin:0 auto;"/>
        <br/>
        <label>Password</label>
        <input type="password" class="form-control" style="width:70%; margin:0 auto;"/>
        <br/>
        <button class="btn btn-primary">Login</button>
        <br/>
        <a asp-controller="User" asp-action="UserRegistration">Click HERE to register</a>
    </form>
</div>

