@{
    ViewData["Title"] = "Registration Page";
}

<div class="text-center">
    <img src="~/pictures/roundcornerplaceholder.jpg" width="100" />
    

</div>


<div class="card   text-center">
    <div class="card-header">
        <h3>Register with us!</h3>
    </div>
    <div class="card-body"></div>
    <form>
        <label>First Name</label>
        <input class="form-control" style=" width: 70%; margin:0 auto; "/>
        </br>
        <label>Last Name</label>
        <input class="form-control" style=" width: 70%; margin:0 auto; " />
        </br>
        <label>Email</label>
        <input type="email" class="form-control" style="width:70%; margin:0 auto;" />
        <br />
        <label>Email Confirmation</label>
        <input type="email" class="form-control" style="width:70%; margin:0 auto;" />
        <br />
        <label>Password</label>
        <input type="password" class="form-control" style="width:70%; margin:0 auto;" />
        <br />    
        <label>Password Confirmation</label>
        <input type="password" class="form-control" style="width:70%; margin:0 auto;" />
        <br />
        <button class="btn btn-primary">Register</button>
             
    </form>
</div>

