@model RoundTheCorner.BL.Models.Cart

<div>
    <h4>Total Count:@Model.TotalCount - Total Price: $@Model.TotalCost.ToString("0.00")</h4>
    @{ 
        foreach (var item in Model.Items)
        {
        <p>
            <b>
                @RoundTheCorner.BL.MenuItemManager.GetMenuItem(item.MenuItemID).ItemName
            </b>
            <i> Quantity: @item.Quantity </i>

        </p>
        }
    }
</div>
